<div class="card-body">
  <a href="dashboard/edit/{{id}}">
    <div class="card-header flex-row justify-space-between">
      <div class="col-8">Post Title: {{postTitle}}</div>
      <div class="col-4">posted by {{user.username}} on {{format_date dateCreated}}</div>
    </div>  
  </a>
  {{!-- <div class="col-12">
    <label class="form-label">Content:</label>
    <textarea class="" data-number="9">{{postContent}}</textarea>
  </div> --}}
</div>