<div class="card">
  <div class="card-header  flex-row justify-space-between">
    <h2>
      <a href="/post/{{id}}">
        <div class="col-8">{{postTitle}}</div>
      </a>
    </h2>
    <div class="col-3">posted by {{user.username}} on {{format_date dateCreated}}
    </div>
  </div>  
  <p class="card-body">
   {{postContent}}
  </p>
</div>